@import "base/_variables.scss" ;
@import "base/_animations.scss" ;

*{
    font-family: 'Museo Sans Cyrl', sans-serif;
}

.container{
    max-width: 990px;
    padding:0 20px 0 20px;
    margin: 0 auto;
}

@import "block/_promo.scss";
@import "block/_header.scss";
@import "block/_buttons.scss";
@import "block/_advantages.scss";
@import "block/_consultation.scss";
@import "block/_titles.scss";
@import "block/_forms.scss";
@import "block/_carousel.scss";
@import "block/_catalog.scss";
@import "block/_rewiew.scss";
@import "block/_footer.scss";
@import "block/_modal.scss";
@import "block/_pageup.scss";
@import "block/_media.scss";