.advantages{
    min-height: 473px;
    padding: 70px 0 64px 0;
    background: #F6F6F6;
    &__title{
        font-weight: 700;
        font-size: 30px;
        line-height: 30px;
        color: #0D0D0D;
        text-align: center;
    }
    &__wrapper{
        display: flex;
        justify-content:space-between;
        align-items:center;
    }
    &__item{
        width: 270px;
        margin-top: 60px;
    }
    &__icon{
        display: block;
        margin: 0 auto;
    }
    &__subtitle{
        margin-top: 35px;
        font-weight: 700;
        font-size: 18px;
        line-height: 29px;
        text-align: center;
        color: #0D0D0D;
    }
    &__descr{
        margin-top: 20px;
        font-weight: 300;
        font-size: 14px;
        line-height: 18px;
        text-align: center;
        color: #0D0D0D;
        a{
            color:$main-color;
        }
    }
}