.carousel{
   padding: 81px 0; 
   &__inner{
      position: relative;
      width: 750px;
      margin: 0 auto;
   }
   .slick-prev, .slick-next{
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: -66px;
      border: none;
      background: transparent;
      img{
         width: 31px;
         height: 50px;
      }
   }
   .slick-next{
      right: -66px;
      left: auto;
   }

   .slick-dots{
      display: flex;
      justify-content: center;
      align-items: center;
      li{
         list-style-type: none;
      }
      button{
         font-size: 0;
         height: 12px;
         width: 12px;
         margin-right: 20px;
         background:$main-color;
         border:none;
         border-radius: 100%;
      }
      .slick-active{
         button{
            background-color: transparent;
            border:1px solid $main-color;
            box-shadow: 0px 0px 10px $main-color;
         }
      }
   }

}
