.consultation{
    min-height: 680px;
    padding: 100px 0 92px 0;
    background: url(../img/bg/bg2.png) center center / cover no-repeat;
    &__descr{
        margin-top: 8px;
        font-weight: 500;
        font-size: 20px;
        line-height: 30px;
        color: #FFFFFF;
    }
    .error{
        border:1px solid $main-color;
        box-shadow: 1px 1px 8px $main-color;
        text-align: center;
    }
    label.error{
        color:#FFFFFF;
        border:none;
        box-shadow: none;
        margin-bottom: 15px;
    }
   
}
