.overlay{
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    top:0;
    background-color: rgba(0,0,0, .56);
}
.modal{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 382px;
    min-height: 402px;
    background: #F2F2F2;
    padding: 38px 40px 40px 40px;
    &__close{
        position: absolute;
        top:0;
        right: -40px;
        font-size: 41px;
        line-height: 20px;
        color:$main-color;
        &:hover{
            box-shadow: 3px 3px 20px $main-color;
            cursor: pointer;
        }

    }
    &__subtitle{
        font-weight: 700;
        font-size: 18px;
        color: #0D0D0D;
        text-align: center;
    }
    &__descr{
        font-weight: 700;
        font-size: 14px;
        text-align: center;
    }
    &_mini{
        min-height: 140px;
    }
    .error{
        border:1px solid $main-color;
        box-shadow: 1px 1px 5px $main-color;
        text-align: center;
    }
    label.error{
        border:none;
        box-shadow: none;
        margin-bottom: 15px;
    }
   
}

#order, #consultation, #thanks{
    display: none;
}

