.promo{
    min-height: 650px;
    padding: 21px 0 93px 0;
    background: url(../img/bg/bg.png) center center / cover no-repeat;
    &__wrapper{
        margin:91px 0 93px 0;
        display: flex;
        flex-direction: column;
        align-items:flex-end;
    }
    &__header{
        font-weight: 700;
        font-size: 42px;
        text-align: right;
        text-transform: uppercase;
        color: #FFFFFF;
    }
    &__subheader{
        font-weight: 500;
        font-size: 24px;
        text-align: right;
        text-transform: uppercase;
        color: #FFFFFF;
    }
    &__icons{
       margin-top: 64px; 
       width: 425px;
       display: flex;
       justify-content:space-around;
    }
    &__icon{
        width: 130px;
        text-align: center;
        font-weight: 100;
        font-size: 14px;
        color: #FFFFFF;
        line-height: 13px;
        img{
            display: block;
            margin: 0 auto;
            margin-bottom: 20px;
       }
   } 
   &__link{
    margin-top: 18px;
    font-weight: 500;
    font-size: 16px;
    color: #FFFFFF;
    a{
        font-weight: 500;
        font-size: 16px;
        color: #FFFFFF;
        text-transform: uppercase;
        &:hover{
            color: #FFFFFF;
        }
        
    }
   }

}
