.rewiew{
    &__wrapper{
        margin-top: 60px;
    }
    &__item{
        display: flex;
        justify-content: space-between;
        margin-bottom: 60px;
    }
    &__img{
        height: 169px;
        width: 169px;
        margin-right: 60px;
    }
      
    &__title{
        font-weight: 700;
        font-size: 18px;
        margin-bottom: 2px;  
    }
    &__subtitle{
        font-weight: 500;
        font-size: 14px;
        color: #646464;
        margin-bottom: 10px;
    }
    &__descr{
        max-width: 690px;
        font-weight: 300;
        font-size: 16px;
        color: #0D0D0D;
        
    }    
}